<!-- app/views/restaurants/index.html.erb -->
<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" name= "active[]" value=<%= task.completed? ? 1 : 0%>>
    <%= link_to task.title, task_path(task) %>
  </li>
  <% end %>
</ul>
